<% include partials/header %>

  <% blogs.forEach((blog) => { %>
    <div class="containers">
      <div class="header-section">
       <h1> <%= blog.title %> </h1>
      </div>
      <img height="100%" width="50%" src="<%= blog.image %>" />
      <div><%= blog.created.toDateString() %></div><br /> <br />
      <p>
        <%= blog.body.substring(0,50) %> ... </p>
      <a href="/blogs/<%= blog._id%>">Read more</a
  </div>
<% }) %>

<% include partials/footer %>